body{
    margin:0;
}
h1 {
    border-bottom:1px solid gray; /* 아래 경계선 및 색상 지정 */
    margin:0;
    padding:20px;
}
ol {
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
    padding-right:0;
}
#grid {
    display:grid;
    grid-template-columns:150px 3fr;
}
#article{
    padding-top:10px;
    padding-left:0px;
}
@media(max-width:800px){
    #grid {
    display: block;
    }
    ol{
        border-right:0px;
    }
    h1 {
        border-bottom:none;
    }
}